// Copyright (c) 2022 The ZMK Contributors
// SPDX-License-Identifier: MIT

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        ht: hold_tap {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <220>;
            quick-tap-ms = <150>;
            require-prior-idle-ms = <100>;
            bindings = <&kp>, <&kp>;
        };

        hrm: hrm {
            compatible = "zmk,behavior-hold-tap";
            #binding-cells = <2>;
            flavor = "tap-preferred";
            tapping-term-ms = <200>;
            quick-tap-ms = <200>;
            require-prior-idle-ms = <125>;
            bindings = <&kp>, <&kp>;
        };
    };

    conditional_layers { compatible = "zmk,conditional-layers"; };

    combos {
        compatible = "zmk,combos";

        left_bracket {
            bindings = <&kp LEFT_BRACKET>;
            key-positions = <8 9>;
        };

        single_quote {
            bindings = <&kp SINGLE_QUOTE>;
            key-positions = <18 19>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        main_layer {
            bindings = <
&kp Q        &kp W         &kp E          &kp R        &kp T            &kp Y      &kp U        &kp I          &kp O         &kp P
&hrm LGUI A  &hrm LCTRL S  &hrm LSHIFT D  &lt 4 F      &kp G            &kp H      &lt 3 J      &hrm RSHIFT K  &hrm LCTRL L  &hrm LWIN SEMICOLON
&kp Z        &kp X         &kp C          &hrm LALT V  &kp B            &kp N      &hrm LALT M  &kp COMMA      &kp DOT       &kp FSLH
                                          &lt 1 SPACE  &kp BACKSPACE    &kp ENTER  &lt 2 SPACE
            >;
        };

        calc_and_operations {
            bindings = <
&kp C_VOL_DN         &kp C_VOL_UP      &kp LC(Y)               &kp LC(LS(K))        &kp LS(TAB)       &kp KP_MULTIPLY  &kp N7  &kp N8  &kp N9  &kp KP_DIVIDE
&hrm LEFT_WIN LC(A)  &hrm LCTRL LC(S)  &hrm LSHIFT LC(LSHIFT)  &hrm LEFT_ALT LC(F)  &kp DELETE        &kp KP_PLUS      &kp N4  &kp N5  &kp N6  &kp KP_MINUS
&kp LC(Z)            &kp LC(X)         &kp LC(C)               &kp LC(V)            &kp LC(DELETE)    &kp KP_NUM       &kp N1  &kp N2  &kp N3  &kp KP_DOT
                                                               &none                &none             &kp ENTER        &kp N0
            >;
        };

        special_keys_and_arrows {
            bindings = <
&kp ESC        &kp F1         &kp F2          &kp F3        &kp F4        &kp END    &none                 &kp UP_ARROW            &none                   &kp TILDE
&hrm LWIN TAB  &hrm LCTRL F5  &hrm LSHIFT F6  &hrm LALT F7  &kp F8        &kp INS    &hrm LALT LEFT_ARROW  &hrm LSHIFT DOWN_ARROW  &hrm LCTRL RIGHT_ARROW  &kp LEFT_WIN
&kp CAPS       &kp F9         &kp F10         &kp F11       &kp F12       &kp PSCRN  &none                 &none                   &none                   &none
                                              &none         &kp DELETE    &none      &none
            >;
        };

        special_symbols {
            bindings = <
&none                   &kp LS(NUMBER_3)          &kp LS(NUMBER_2)              &kp LS(GRAVE)     &none                &none          &kp LS(NUMBER_1)  &kp LS(SLASH)          &kp LS(SEMICOLON)   &none
&hrm LGUI LS(NUMBER_6)  &hrm LCTRL LS(N7)         &hrm LSHIFT LS(LEFT_BRACKET)  &hrm LALT LS(N9)  &kp LEFT_BRACKET     &kp LS(MINUS)  &hrm LALT EQUAL   &hrm RSHIFT SEMICOLON  &hrm LCTRL LS(SQT)  &hrm LWIN SQT
&kp GRAVE               &kp LS(NON_US_BACKSLASH)  &kp LS(RIGHT_BRACKET)         &kp LS(N0)        &kp RIGHT_BRACKET    &kp BACKSLASH  &kp LS(COMMA)     &kp LS(PERIOD)         &kp LS(N4)          &kp LS(N5)
                                                                                &kp MINUS         &kp LS(EQUAL)        &kp SLASH      &kp LS(N8)
            >;
        };

        layer_4 {
            bindings = <
&none                   &kp RA(Z)                 &kp LS(NUMBER_2)              &kp LS(GRAVE)     &none                &none          &kp LS(NUMBER_1)  &kp LS(SLASH)          &kp LS(SEMICOLON)   &none
&hrm LGUI LS(NUMBER_6)  &hrm LCTRL LS(N7)         &hrm LSHIFT LS(LEFT_BRACKET)  &hrm LALT LS(N9)  &kp LEFT_BRACKET     &kp LS(MINUS)  &hrm LALT EQUAL   &hrm RSHIFT SEMICOLON  &hrm LCTRL LS(SQT)  &hrm LWIN SQT
&kp GRAVE               &kp LS(NON_US_BACKSLASH)  &kp LS(RIGHT_BRACKET)         &kp LS(N0)        &kp RIGHT_BRACKET    &kp BACKSLASH  &kp LS(COMMA)     &kp LS(PERIOD)         &kp LS(N4)          &kp LS(N5)
                                                                                &kp MINUS         &kp LS(EQUAL)        &kp SLASH      &kp LS(N8)
            >;
        };
    };
};
